services:
  file_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/file_server/file_server.sh:/root/file_server.sh:ro
    working_dir: /root
    command: bash /root/file_server.sh
    ports:
      - "8000:5000"