# EXPOSE/expose => no-op/documentation (modern) [can be used with -P]
#               => ... (old)
services:
  file_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/file_server/file_server.sh:/root/file_server.sh:ro
    working_dir: /root
    command: bash /root/file_server.sh
    ports:
      - "445:445"
  proxy_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/proxy_server/proxy_server.sh:/root/proxy_server.sh:ro
    working_dir: /root
    command: bash /root/proxy_server.sh
    ports:
      - "3128:3128"
  dns_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/dns_server/dns_server.sh:/root/dns_server.sh:ro
    working_dir: /root
    command: bash /root/dns_server.sh
    ports:
      - "127.0.0.1:53:53"
  terminal_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/terminal_server/terminal_server.sh:/root/terminal_server.sh:ro
    working_dir: /root
    command: bash /root/terminal_server.sh
    ports:
      - "127.0.0.1:5901:5901"
  web_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/web_server/web_server.sh:/root/web_server.sh:ro
    working_dir: /root
    command: bash /root/web_server.sh
    ports:
      - "127.0.0.1:80:80"
  database_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/database_server/database_server.sh:/root/database_server.sh:ro
      - ./src/database_server/postgresql.sh:/root/postgresql.sh:ro
      - ./src/database_server/mongodb.sh:/root/mongodb.sh:ro
      - ./src/database_server/mysql.sh:/root/mysql.sh:ro
    working_dir: /root
    command: bash /root/database_server.sh
    ports:
      - "127.0.0.1:5432:5432"
      - "127.0.0.1:27017:27017"
      - "127.0.0.1:3306:3306"
  mail_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/mail_server/mail_server.sh:/root/mail_server.sh:ro
    working_dir: /root
    command: bash /root/mail_server.sh
    ports:
      - "127.0.0.1:25:25"
      - "127.0.0.1:143:143"
      - "127.0.0.1:110:110"
  ftp_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/ftp_server/ftp_server.sh:/root/ftp_server.sh:ro
    working_dir: /root
    command: bash /root/ftp_server.sh
    ports:
      - "127.0.0.1:21:21"
  load_balancing:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/load_balancing/load_balancing.sh:/root/load_balancing.sh:ro
    working_dir: /root
    command: bash /root/load_balancing.sh
    depends_on:
      - web1
      - web2
    ports:
      - "127.0.0.1:80:80"
  web1:
    image: nginx:stable-alpine
    volumes:
      - ./src/load_balancing/web1.html:/usr/share/nginx/html/index.html:ro
  web2:
    image: nginx:stable-alpine
    volumes:
      - ./src/load_balancing/web2.html:/usr/share/nginx/html/index.html:ro
