services:
  file_server:
    image: quay.io/centos/centos:stream9
    
    volumes:
      - ./src/file_server/file_server.sh:/root/file_server.sh:ro
    working_dir: /root
    command: bash /root/file_server.sh
    ports:
      - "445:445"
  proxy_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/proxy_server/proxy_server.sh:/root/proxy_server.sh:ro
    working_dir: /root
    command: bash /root/proxy_server.sh
    ports:
      - "3128:3128"
  dns_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/dns_server/dns_server.sh:/root/dns_server.sh:ro
    working_dir: /root
    command: bash /root/dns_server.sh
    ports:
      - "127.0.0.1:53:53"
  terminal_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/terminal_server/terminal_server.sh:/root/terminal_server.sh:ro
    working_dir: /root
    command: bash /root/terminal_server.sh
    ports:
      - "127.0.0.1:5901:5901"
  web_server:
    image: quay.io/centos/centos:stream9
    volumes:
      - ./src/web_server/web_server.sh:/root/web_server.sh:ro
    working_dir: /root
    command: bash /root/web_server.sh
    ports:
      - "127.0.0.1:80:80"